
/*--------------------------------------------------------------
# BOUTTONS COMPONENTS --- WisePanda.fr 
--------------------------------------------------------------*/

@use "./colors" as c;
@use "./fonts" as f;
@use "./mixins" as m;


// All buttons call-to-action

.btn {
    // --contact for header
    &--contact, &--contact:focus{
        font-size: 1rem;
        color: c.$color-default;
        background: c.$color-primary;
        padding: 8px 23px;
        border-radius: 4px;
        transition: 0.3s;
        font-family: f.$font-default;
        text-transform: uppercase;
    }
    &--contact:hover, &--contact:focus:hover{
        color: c.$color-default;
        background: rgba(c.$color-primary, 0.85)
    }

    //--hero-contact for hero-banner animated
    &--hero-contact{
        font-size: 1rem;
        font-weight:400;
        display:inline-block;
        padding:10px 28px;
        border-radius: 4px;
        transition: 0.5s;
        color:c.$color-default;
        background: c.$color-primary;
        font-family: f.$font-default;
        text-transform: uppercase;
        &:hover{
            background: rgba(c.$color-primary, 0.85);
            color: c.$color-default;
        }
    }

    //--watch-video for hero-banner animated
    &--watch-video{
        font-size: 1rem;
       margin-left: 25px;
       font-weight: 600;
        transition: 0.5s;
        color:c.$color-secondary-light;
        font-family: f.$font-default;
        text-transform: uppercase;
        i{
            transition: 0.3s;
            color:c.$color-primary;
            line-height: 0;
            margin-right: 8px;
        }
        &:hover{
            color: c.$color-primary;
            i{
                color: rgba(c.$color-primary, 0.8)
            }
        }
    }

    //--cta for cta section
    &--cta{
        color:c.$color-default;
        font-weight: 500;
        font-size: 1rem;
        display: inline-block;
        padding: 12px 40px;
        border-radius: 5px;
        transition: 0.5s;
        margin-top: 10px;
        background: rgba(c.$color-primary, 0.9);
        text-transform: uppercase;
        &:hover{
            color:c.$color-default;
            background: c.$color-primary

        }
    }

    //--play & --read-more for onfocus section
    &--play{
        width: 94px;
        height: 94px;
        background: radial-gradient(c.$color-primary 50%,
        rgba(c.$color-primary, 0.4) 52%);
        border-radius: 50%;
        display: block;
        position: absolute;
        left:calc(50% - 47px);
        top:calc(50% - 47px);
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            width: 120px;
            height: 120px;
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
            -webkit-animation: pulsate-btn 2s;
            animation: pulsate-btn 2s;
            -webkit-animation-direction: forwards;
            animation-direction: forwards;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: steps;
            animation-timing-function: steps;
            opacity: 1;
            border-radius: 50%;
            border: 5px solid rgba(c.$color-primary, 0.7);
            top:-15%;
            left: -15%;
            background: rgba(198, 16 , 0 ,0)
        }
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-40%) translateY(-50%);
            width:0;
            height:0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid c.$color-default;
            z-index: 100;
            transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        &:hover{
            &::before{
                content: "";
                left: 50%;
                top: 50%;
                transform: translateX(-40%) translateY(-50%);
                width:0;
                height:0;
                border:none;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid c.$color-default;
                
                z-index: 200;
                -webkit-animation: none;
                animation: none;
                border-radius: 0;
            }
            &::after{
                border-left: 15px solid c.$color-primary;
                transform: scale(20);
            }
        }
        
    }

    &--read-more{
        color: c.$color-default;
        font-family: f.$font-secondary;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 1px;
        padding: 12px 24px;
        transition: 0.3s;
       @include m.inflexCenterCenter;
       background: c.$color-primary;
       i{
        font-size: 1.125rem;
        margin-left: 5px;
        line-height: 0;
        transition: 0.3s;
       }
       &:hover{
        background: rgba(c.$color-primary, 0.9);
        color:c.$color-default;
        padding-right: 19px;
        i{
            margin-left: 10px;
        }
       }
     
    }
}